# Logs
logs
*.log

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Environment
.env

# IntelliJ / IDEs
.idea
*.iml
*.iws
*.ipr

# Eclipse / STS
.classpath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/
